@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(1.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes grow {
  from {
    max-width: 0;
  }
  to {
    max-width: 100%;
  }
}
